{% extends 'layout.html' %}

{% block content %}
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Последняя проверка</th>
        <th>Код ответа</th>
      </tr>
    </thead>
    <tbody>
      {% for url in urls %}
      <tr>
        <td>{{ url.id }}</td>
        <td>
          <a href="{{ url_for('get_url', id=url.id) }}">
            {{ url.name }}
          </a>
        </td>
        <td>{{ url.last_checked.strftime('%Y-%m-%d') if url.last_checked else '' }}</td>
        <td>{{ url.response_code if url.response_code else '' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}